<div class="jumbotron">
    <h1>by Cihan COPUR</h1>
    <p class="lead">In the MVC Web API example, which has a 3-layer architecture, which I have developed to use in my projects, api represents the application layer, ccoftBLL represents the business logic layer, and ccoftDAL represents the data access layer. In the data access layer, the Object Relational Mapping (ORM) structure provides a very flexible and practical way to establish database and object connections and prevents security threats.</p>
    <p><a href="https://github.com/copurcihan/CustomizableOrmFramework" class="btn btn-primary btn-lg">Click For GitHub &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ccoftBLL</h2>
        <p>ccoftBLL is an application library layer that includes functions developed for different tasks.</p>
        <p><a class="btn btn-default" href="https://github.com/copurcihan/CustomizableOrmFramework">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ccoftDAL</h2>
        <p>ccoftDAL is an application library that contains the necessary functions to connect to different databases. With the ORM developed for use in this layer, all database operations can be done easily and practically.</p>
        <p><a class="btn btn-default" href="https://github.com/copurcihan/CustomizableOrmFramework">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ccoftOBJ</h2>
        <p>ccoftOBJ is the application library that contains the general architecture classes needed in the application.</p>
        <p><a class="btn btn-default" href="https://github.com/copurcihan/CustomizableOrmFramework">GitHub &raquo;</a></p>
    </div>
</div>
